.pokedex-screen{
    background: #cfffff;
    margin: -100px 20px;
    padding: 100px 0px;
}
.pokedex-choice{
    text-align: center;
    overflow: auto;
    padding: 0px 20px;
}
.pokedex-choice, .pokedex-view{
    height: 300px;
}
.pokedex-choice .pokedex-area{
    text-align: center;
    height: 40px;
    padding: 4px;
}
.pokedex-area
{
    margin-bottom: 10px;
}
.pokedex-choice .pokedex-area .pokedex-element{
    height: 42px;
    background: #abc;
    border-radius: 3px;
    border: 1px solid #89a;
}
.pokedex-choice .pokedex-area .pokedex-element.pokemon-drawn:hover{
    background: #0cd;
}
.pokedex-choice .pokedex-area .pokedex-element:hover{
    background: #0ab;
}
.pokedex-choice .pokedex-area .pokedex-element.pokemon-drawn{
    background: #8de;
    border: 1px solid #6bc;
}
.pokedex-choice .pokedex-area .pokedex-element.selected,
.pokedex-choice .pokedex-area .pokedex-element.pokemon-drawn.selected{
    border: 1px #000 solid;
    color: #000;
}
.pokedex-choice .pokedex-area .pokedex-element{
    color: #89a;
}
.pokedex-choice .pokedex-area .pokedex-element.pokemon-drawn{
    color: #49a;
}
.pokedex-choice .pokedex-area .pokedex-element:hover{
    color: #8de;
}
.pokedex-choice .pokedex-area .pokedex-element.pokemon-drawn:hover{
    color: #fff;
}
.pokedex-hf{
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;
}
.pokedex-row{
    display: table-row;
    border-collapse: collapse;
}

.pokedex-hf > .pokedex-row > .pokedex-center
{
    width: 424px;
    height: 317px;
    background-repeat: no-repeat;
}

.pokedex-hf > .pokedex-row > .pokedex-right
{
    background-repeat: repeat-x;
    height: 317px;
    display: table-cell;
    min-width: 20px;
    width:50%;
}

.pokedex-hf > .pokedex-row > .pokedex-left
{
    background-repeat: repeat-x;
    height: 317px;
    display: table-cell;
    min-width: 20px;
    width:50%;
}

.pokedex-hf > .pokedex-row > .pokedex-corner-right
{
    width: 146px;
    height: 317px;
    background-repeat: no-repeat;
}

.pokedex-hf > .pokedex-row > .pokedex-corner-left
{
    width: 146px;
    height: 317px;
    background-repeat: no-repeat;
}

.pokedex-top > .pokedex-row > .pokedex-center
{
    background-image: url('../images/design/medium/mt.png');
}
.pokedex-top > .pokedex-row > .pokedex-right
{
    background-image: url('../images/design/medium/rt-repeat.png');
}
.pokedex-top > .pokedex-row > .pokedex-left
{
    background-image: url('../images/design/medium/lt-repeat.png');
}

.pokedex-top > .pokedex-row > .pokedex-corner-right
{
    background-image: url('../images/design/medium/crt.png');
}
.pokedex-top > .pokedex-row > .pokedex-corner-left
{
    background-image: url('../images/design/medium/clt.png');
}

.pokedex-bottom > .pokedex-row > .pokedex-center
{
    background-image: url('../images/design/medium/mb.png');
}
.pokedex-bottom > .pokedex-row > .pokedex-right
{
    background-image: url('../images/design/medium/rb-repeat.png');
}
.pokedex-bottom > .pokedex-row > .pokedex-left
{
    background-image: url('../images/design/medium/lb-repeat.png');
}

.pokedex-bottom > .pokedex-row > .pokedex-corner-right
{
    background-image: url('../images/design/medium/crb.png');
}
.pokedex-bottom > .pokedex-row > .pokedex-corner-left
{
    background-image: url('../images/design/medium/clb.png');
}
.pokedex-screen .loader {
    background-image: url('../images/design/pokedex-screen-loader.gif');
    margin:125px 0px;
    height:50px;
    background-repeat: no-repeat;
    background-position: center center;
}

.pokedex-view
{
    display: table-row;
    overflow: auto;
}

.pokedex-img,
.pokedex-info
{
    height: 200px;
    vertical-align: middle;
    display: table-cell;
    padding: 10px 5px;
}
ul.pokedex-info
{
    margin: 0px;
    padding: 0px;
}


ul.pokedex-info li
{
    list-style-type: none;
}

.pokelabel-bird
{
    background: #000;
}

.pokelabel-normal
{
    background: #888;
}

.pokelabel-fire
{
    background: #d60;
}

.pokelabel-fighting
{
    background: #a50;
}

.pokelabel-water
{
    background: #0af;
}

.pokelabel-flying
{
    background: #08f;
}

.pokelabel-poison
{
    background: #b4b;
}

.pokelabel-electric
{
    background: #db0;
}

.pokelabel-grass
{
    background: #0a0;
}

.pokelabel-ground
{
    background: #c80;
}

.pokelabel-psychic
{
    background: #d68;
}

.pokelabel-rock
{
    background: #975;
}

.pokelabel-ice
{
    background: #0df;
}

.pokelabel-bug
{
    background: #8a0;
}

.pokelabel-dragon
{
    background: #848;
}

.pokelabel-ghost
{
    background: #868;
}

.pokelabel-dark
{
    background: #444;
}

.pokelabel-steel
{
    background: #99a;
}

.pokelabel-fairy
{
    background: #f8a;
}

.pokelabel-unknown
{
    background: #4a6;
}

.pokedex-number
{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.pokesprite
{
    background: url('../images/pokemon/sprites.png') no-repeat top left;
    position: absolute;
    top: 4px;
    left: 4px;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
    
    
    .pokedex-screen{
        background: #cfffff;
        margin: -50px 0px;
        padding: 50px 0px;
    }

    .pokedex-hf > .pokedex-row > .pokedex-center
    {
        width: 134px;
        height: 100px;
    }

    .pokedex-hf > .pokedex-row > .pokedex-right
    {
        height: 100px;
    }

    .pokedex-hf > .pokedex-row > .pokedex-left
    {
        height: 100px;
    }

    .pokedex-hf > .pokedex-row > .pokedex-corner-right,
    .pokedex-hf > .pokedex-row > .pokedex-corner-left
    {
        width: 46px;
        height: 100px;
    }
    
    .pokedex-top > .pokedex-row > .pokedex-center
    {
        background-image: url('../images/design/small/mt.png');
    }
    .pokedex-top > .pokedex-row > .pokedex-right
    {
        background-image: url('../images/design/small/rt-repeat.png');
    }
    .pokedex-top > .pokedex-row > .pokedex-left
    {
        background-image: url('../images/design/small/lt-repeat.png');
    }

    .pokedex-top > .pokedex-row > .pokedex-corner-right
    {
        background-image: url('../images/design/small/crt.png');
    }
    .pokedex-top > .pokedex-row > .pokedex-corner-left
    {
        background-image: url('../images/design/small/clt.png');
    }

    .pokedex-bottom > .pokedex-row > .pokedex-center
    {
        background-image: url('../images/design/small/mb.png');
    }
    .pokedex-bottom > .pokedex-row > .pokedex-right
    {
        background-image: url('../images/design/small/rb-repeat.png');
    }
    .pokedex-bottom > .pokedex-row > .pokedex-left
    {
        background-image: url('../images/design/small/lb-repeat.png');
    }

    .pokedex-bottom > .pokedex-row > .pokedex-corner-right
    {
        background-image: url('../images/design/small/crb.png');
    }
    .pokedex-bottom > .pokedex-row > .pokedex-corner-left
    {
        background-image: url('../images/design/small/clb.png');
    }
}