.pokedex-screen{
    background: #cfffff;
    margin: -100px 20px;
    padding: 100px 0px;
}
.pokedex-choice{
    text-align: center;
    overflow: auto;
    padding: 0px 20px;
}
.pokedex-choice, .pokedex-view{
    height: 300px;
}
.pokedex-choice p{
    text-align: center;
    height: 40px;
    padding: 4px;
}
.pokedex-choice p .pokedex-element{
    height: 42px;
    background: #41caff;
    border-radius: 5px;
    border: 1px solid #fff;
}
.pokedex-hf{
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;
}
.pokedex-row{
    display: table-row;
    border-collapse: collapse;
}

.pokedex-hf > .pokedex-row > .pokedex-center
{
    width: 424px;
    height: 317px;
    background-repeat: no-repeat;
}

.pokedex-hf > .pokedex-row > .pokedex-right
{
    background-repeat: repeat-x;
    height: 317px;
    display: table-cell;
    min-width: 20px;
    width:50%;
}

.pokedex-hf > .pokedex-row > .pokedex-left
{
    background-repeat: repeat-x;
    height: 317px;
    display: table-cell;
    min-width: 20px;
    width:50%;
}

.pokedex-hf > .pokedex-row > .pokedex-corner-right
{
    width: 146px;
    height: 317px;
    background-repeat: no-repeat;
}

.pokedex-hf > .pokedex-row > .pokedex-corner-left
{
    width: 146px;
    height: 317px;
    background-repeat: no-repeat;
}

.pokedex-top > .pokedex-row > .pokedex-center
{
    background-image: url('../images/design/medium/mt.png');
}
.pokedex-top > .pokedex-row > .pokedex-right
{
    background-image: url('../images/design/medium/rt-repeat.png');
}
.pokedex-top > .pokedex-row > .pokedex-left
{
    background-image: url('../images/design/medium/lt-repeat.png');
}

.pokedex-top > .pokedex-row > .pokedex-corner-right
{
    background-image: url('../images/design/medium/crt.png');
}
.pokedex-top > .pokedex-row > .pokedex-corner-left
{
    background-image: url('../images/design/medium/clt.png');
}

.pokedex-bottom > .pokedex-row > .pokedex-center
{
    background-image: url('../images/design/medium/mb.png');
}
.pokedex-bottom > .pokedex-row > .pokedex-right
{
    background-image: url('../images/design/medium/rb-repeat.png');
}
.pokedex-bottom > .pokedex-row > .pokedex-left
{
    background-image: url('../images/design/medium/lb-repeat.png');
}

.pokedex-bottom > .pokedex-row > .pokedex-corner-right
{
    background-image: url('../images/design/medium/crb.png');
}
.pokedex-bottom > .pokedex-row > .pokedex-corner-left
{
    background-image: url('../images/design/medium/clb.png');
}

.pokedex-view
{
    display: table-row;
    overflow: auto;
}

.pokedex-img,
.pokedex-info
{
    height: 200px;
    vertical-align: middle;
    display: table-cell;
    padding: 10px 5px;
}
.pokedex-info ul
{
    margin: 0px;
    padding: 0px;
}


.pokedex-info ul li
{
    list-style-type: none;
}
.pokelabel-grass
{
    background: #00aa00;
}

.pokedex-number
{
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #fff;
}

.pokesprite
{
    background: url('../images/pokemon/sprites.png') no-repeat top left;
    position: absolute;
    top: 4px;
    left: 4px;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
    
    
    .pokedex-screen{
        background: #cfffff;
        margin: -50px 0px;
        padding: 50px 0px;
    }

    .pokedex-hf > .pokedex-row > .pokedex-center
    {
        width: 134px;
        height: 100px;
    }

    .pokedex-hf > .pokedex-row > .pokedex-right
    {
        height: 100px;
    }

    .pokedex-hf > .pokedex-row > .pokedex-left
    {
        height: 100px;
    }

    .pokedex-hf > .pokedex-row > .pokedex-corner-right,
    .pokedex-hf > .pokedex-row > .pokedex-corner-left
    {
        width: 46px;
        height: 100px;
    }
    
    .pokedex-top > .pokedex-row > .pokedex-center
    {
        background-image: url('../images/design/small/mt.png');
    }
    .pokedex-top > .pokedex-row > .pokedex-right
    {
        background-image: url('../images/design/small/rt-repeat.png');
    }
    .pokedex-top > .pokedex-row > .pokedex-left
    {
        background-image: url('../images/design/small/lt-repeat.png');
    }

    .pokedex-top > .pokedex-row > .pokedex-corner-right
    {
        background-image: url('../images/design/small/crt.png');
    }
    .pokedex-top > .pokedex-row > .pokedex-corner-left
    {
        background-image: url('../images/design/small/clt.png');
    }

    .pokedex-bottom > .pokedex-row > .pokedex-center
    {
        background-image: url('../images/design/small/mb.png');
    }
    .pokedex-bottom > .pokedex-row > .pokedex-right
    {
        background-image: url('../images/design/small/rb-repeat.png');
    }
    .pokedex-bottom > .pokedex-row > .pokedex-left
    {
        background-image: url('../images/design/small/lb-repeat.png');
    }

    .pokedex-bottom > .pokedex-row > .pokedex-corner-right
    {
        background-image: url('../images/design/small/crb.png');
    }
    .pokedex-bottom > .pokedex-row > .pokedex-corner-left
    {
        background-image: url('../images/design/small/clb.png');
    }
}