.pokesprite-1{ background-position: 0 0; width: 32px; height: 32px; } 
.pokesprite-10{ background-position: 0 -33px; width: 32px; height: 32px; } 
.pokesprite-100{ background-position: 0 -66px; width: 32px; height: 32px; } 
.pokesprite-101{ background-position: 0 -99px; width: 32px; height: 32px; } 
.pokesprite-102{ background-position: 0 -132px; width: 32px; height: 32px; } 
.pokesprite-103{ background-position: 0 -165px; width: 32px; height: 32px; } 
.pokesprite-104{ background-position: 0 -198px; width: 32px; height: 32px; } 
.pokesprite-105{ background-position: 0 -231px; width: 32px; height: 32px; } 
.pokesprite-106{ background-position: 0 -264px; width: 32px; height: 32px; } 
.pokesprite-107{ background-position: 0 -297px; width: 32px; height: 32px; } 
.pokesprite-108{ background-position: 0 -330px; width: 32px; height: 32px; } 
.pokesprite-109{ background-position: 0 -363px; width: 32px; height: 32px; } 
.pokesprite-11{ background-position: 0 -396px; width: 32px; height: 32px; } 
.pokesprite-110{ background-position: 0 -429px; width: 32px; height: 32px; } 
.pokesprite-111{ background-position: 0 -462px; width: 32px; height: 32px; } 
.pokesprite-112{ background-position: 0 -495px; width: 32px; height: 32px; } 
.pokesprite-113{ background-position: 0 -528px; width: 32px; height: 32px; } 
.pokesprite-114{ background-position: 0 -561px; width: 32px; height: 32px; } 
.pokesprite-115{ background-position: 0 -594px; width: 32px; height: 32px; } 
.pokesprite-116{ background-position: 0 -627px; width: 32px; height: 32px; } 
.pokesprite-117{ background-position: 0 -660px; width: 32px; height: 32px; } 
.pokesprite-118{ background-position: 0 -693px; width: 32px; height: 32px; } 
.pokesprite-119{ background-position: 0 -726px; width: 32px; height: 32px; } 
.pokesprite-12{ background-position: 0 -759px; width: 32px; height: 32px; } 
.pokesprite-120{ background-position: 0 -792px; width: 32px; height: 32px; } 
.pokesprite-121{ background-position: 0 -825px; width: 32px; height: 32px; } 
.pokesprite-122{ background-position: 0 -858px; width: 32px; height: 32px; } 
.pokesprite-123{ background-position: 0 -891px; width: 32px; height: 32px; } 
.pokesprite-124{ background-position: 0 -924px; width: 32px; height: 32px; } 
.pokesprite-125{ background-position: 0 -957px; width: 32px; height: 32px; } 
.pokesprite-126{ background-position: 0 -990px; width: 32px; height: 32px; } 
.pokesprite-127{ background-position: 0 -1023px; width: 32px; height: 32px; } 
.pokesprite-128{ background-position: 0 -1056px; width: 32px; height: 32px; } 
.pokesprite-129{ background-position: 0 -1089px; width: 32px; height: 32px; } 
.pokesprite-13{ background-position: 0 -1122px; width: 32px; height: 32px; } 
.pokesprite-130{ background-position: 0 -1155px; width: 32px; height: 32px; } 
.pokesprite-131{ background-position: 0 -1188px; width: 32px; height: 32px; } 
.pokesprite-132{ background-position: 0 -1221px; width: 32px; height: 32px; } 
.pokesprite-133{ background-position: 0 -1254px; width: 32px; height: 32px; } 
.pokesprite-134{ background-position: 0 -1287px; width: 32px; height: 32px; } 
.pokesprite-135{ background-position: 0 -1320px; width: 32px; height: 32px; } 
.pokesprite-136{ background-position: 0 -1353px; width: 32px; height: 32px; } 
.pokesprite-137{ background-position: 0 -1386px; width: 32px; height: 32px; } 
.pokesprite-138{ background-position: 0 -1419px; width: 32px; height: 32px; } 
.pokesprite-139{ background-position: 0 -1452px; width: 32px; height: 32px; } 
.pokesprite-14{ background-position: 0 -1485px; width: 32px; height: 32px; } 
.pokesprite-140{ background-position: 0 -1518px; width: 32px; height: 32px; } 
.pokesprite-141{ background-position: 0 -1551px; width: 32px; height: 32px; } 
.pokesprite-142{ background-position: 0 -1584px; width: 32px; height: 32px; } 
.pokesprite-143{ background-position: 0 -1617px; width: 32px; height: 32px; } 
.pokesprite-144{ background-position: 0 -1650px; width: 32px; height: 32px; } 
.pokesprite-145{ background-position: 0 -1683px; width: 32px; height: 32px; } 
.pokesprite-146{ background-position: 0 -1716px; width: 32px; height: 32px; } 
.pokesprite-147{ background-position: 0 -1749px; width: 32px; height: 32px; } 
.pokesprite-148{ background-position: 0 -1782px; width: 32px; height: 32px; } 
.pokesprite-149{ background-position: 0 -1815px; width: 32px; height: 32px; } 
.pokesprite-15{ background-position: 0 -1848px; width: 32px; height: 32px; } 
.pokesprite-150{ background-position: 0 -1881px; width: 32px; height: 32px; } 
.pokesprite-151{ background-position: 0 -1914px; width: 32px; height: 32px; } 
.pokesprite-16{ background-position: 0 -1947px; width: 32px; height: 32px; } 
.pokesprite-17{ background-position: 0 -1980px; width: 32px; height: 32px; } 
.pokesprite-18{ background-position: -33px 0; width: 32px; height: 32px; } 
.pokesprite-19{ background-position: -33px -33px; width: 32px; height: 32px; } 
.pokesprite-2{ background-position: -33px -66px; width: 32px; height: 32px; } 
.pokesprite-20{ background-position: -33px -99px; width: 32px; height: 32px; } 
.pokesprite-21{ background-position: -33px -132px; width: 32px; height: 32px; } 
.pokesprite-22{ background-position: -33px -165px; width: 32px; height: 32px; } 
.pokesprite-23{ background-position: -33px -198px; width: 32px; height: 32px; } 
.pokesprite-24{ background-position: -33px -231px; width: 32px; height: 32px; } 
.pokesprite-25{ background-position: -33px -264px; width: 32px; height: 32px; } 
.pokesprite-26{ background-position: -33px -297px; width: 32px; height: 32px; } 
.pokesprite-27{ background-position: -33px -330px; width: 32px; height: 32px; } 
.pokesprite-28{ background-position: -33px -363px; width: 32px; height: 32px; } 
.pokesprite-29{ background-position: -33px -396px; width: 32px; height: 32px; } 
.pokesprite-3{ background-position: -33px -429px; width: 32px; height: 32px; } 
.pokesprite-30{ background-position: -33px -462px; width: 32px; height: 32px; } 
.pokesprite-31{ background-position: -33px -495px; width: 32px; height: 32px; } 
.pokesprite-32{ background-position: -33px -528px; width: 32px; height: 32px; } 
.pokesprite-33{ background-position: -33px -561px; width: 32px; height: 32px; } 
.pokesprite-34{ background-position: -33px -594px; width: 32px; height: 32px; } 
.pokesprite-35{ background-position: -33px -627px; width: 32px; height: 32px; } 
.pokesprite-36{ background-position: -33px -660px; width: 32px; height: 32px; } 
.pokesprite-37{ background-position: -33px -693px; width: 32px; height: 32px; } 
.pokesprite-38{ background-position: -33px -726px; width: 32px; height: 32px; } 
.pokesprite-39{ background-position: -33px -759px; width: 32px; height: 32px; } 
.pokesprite-4{ background-position: -33px -792px; width: 32px; height: 32px; } 
.pokesprite-40{ background-position: -33px -825px; width: 32px; height: 32px; } 
.pokesprite-41{ background-position: -33px -858px; width: 32px; height: 32px; } 
.pokesprite-42{ background-position: -33px -891px; width: 32px; height: 32px; } 
.pokesprite-43{ background-position: -33px -924px; width: 32px; height: 32px; } 
.pokesprite-44{ background-position: -33px -957px; width: 32px; height: 32px; } 
.pokesprite-45{ background-position: -33px -990px; width: 32px; height: 32px; } 
.pokesprite-46{ background-position: -33px -1023px; width: 32px; height: 32px; } 
.pokesprite-47{ background-position: -33px -1056px; width: 32px; height: 32px; } 
.pokesprite-48{ background-position: -33px -1089px; width: 32px; height: 32px; } 
.pokesprite-49{ background-position: -33px -1122px; width: 32px; height: 32px; } 
.pokesprite-5{ background-position: -33px -1155px; width: 32px; height: 32px; } 
.pokesprite-50{ background-position: -33px -1188px; width: 32px; height: 32px; } 
.pokesprite-51{ background-position: -33px -1221px; width: 32px; height: 32px; } 
.pokesprite-52{ background-position: -33px -1254px; width: 32px; height: 32px; } 
.pokesprite-53{ background-position: -33px -1287px; width: 32px; height: 32px; } 
.pokesprite-54{ background-position: -33px -1320px; width: 32px; height: 32px; } 
.pokesprite-55{ background-position: -33px -1353px; width: 32px; height: 32px; } 
.pokesprite-56{ background-position: -33px -1386px; width: 32px; height: 32px; } 
.pokesprite-57{ background-position: -33px -1419px; width: 32px; height: 32px; } 
.pokesprite-58{ background-position: -33px -1452px; width: 32px; height: 32px; } 
.pokesprite-59{ background-position: -33px -1485px; width: 32px; height: 32px; } 
.pokesprite-6{ background-position: -33px -1518px; width: 32px; height: 32px; } 
.pokesprite-60{ background-position: -33px -1551px; width: 32px; height: 32px; } 
.pokesprite-600{ background-position: -33px -1584px; width: 32px; height: 32px; } 
.pokesprite-601{ background-position: -33px -1617px; width: 32px; height: 32px; } 
.pokesprite-602{ background-position: -33px -1650px; width: 32px; height: 32px; } 
.pokesprite-603{ background-position: -33px -1683px; width: 32px; height: 32px; } 
.pokesprite-604{ background-position: -33px -1716px; width: 32px; height: 32px; } 
.pokesprite-605{ background-position: -33px -1749px; width: 32px; height: 32px; } 
.pokesprite-606{ background-position: -33px -1782px; width: 32px; height: 32px; } 
.pokesprite-607{ background-position: -33px -1815px; width: 32px; height: 32px; } 
.pokesprite-608{ background-position: -33px -1848px; width: 32px; height: 32px; } 
.pokesprite-609{ background-position: -33px -1881px; width: 32px; height: 32px; } 
.pokesprite-61{ background-position: -33px -1914px; width: 32px; height: 32px; } 
.pokesprite-610{ background-position: -33px -1947px; width: 32px; height: 32px; } 
.pokesprite-611{ background-position: -33px -1980px; width: 32px; height: 32px; } 
.pokesprite-612{ background-position: -66px 0; width: 32px; height: 32px; } 
.pokesprite-613{ background-position: -66px -33px; width: 32px; height: 32px; } 
.pokesprite-614{ background-position: -66px -66px; width: 32px; height: 32px; } 
.pokesprite-615{ background-position: -66px -99px; width: 32px; height: 32px; } 
.pokesprite-616{ background-position: -66px -132px; width: 32px; height: 32px; } 
.pokesprite-617{ background-position: -66px -165px; width: 32px; height: 32px; } 
.pokesprite-618{ background-position: -66px -198px; width: 32px; height: 32px; } 
.pokesprite-619{ background-position: -66px -231px; width: 32px; height: 32px; } 
.pokesprite-62{ background-position: -66px -264px; width: 32px; height: 32px; } 
.pokesprite-620{ background-position: -66px -297px; width: 32px; height: 32px; } 
.pokesprite-621{ background-position: -66px -330px; width: 32px; height: 32px; } 
.pokesprite-622{ background-position: -66px -363px; width: 32px; height: 32px; } 
.pokesprite-623{ background-position: -66px -396px; width: 32px; height: 32px; } 
.pokesprite-624{ background-position: -66px -429px; width: 32px; height: 32px; } 
.pokesprite-625{ background-position: -66px -462px; width: 32px; height: 32px; } 
.pokesprite-626{ background-position: -66px -495px; width: 32px; height: 32px; } 
.pokesprite-627{ background-position: -66px -528px; width: 32px; height: 32px; } 
.pokesprite-628{ background-position: -66px -561px; width: 32px; height: 32px; } 
.pokesprite-629{ background-position: -66px -594px; width: 32px; height: 32px; } 
.pokesprite-63{ background-position: -66px -627px; width: 32px; height: 32px; } 
.pokesprite-630{ background-position: -66px -660px; width: 32px; height: 32px; } 
.pokesprite-631{ background-position: -66px -693px; width: 32px; height: 32px; } 
.pokesprite-632{ background-position: -66px -726px; width: 32px; height: 32px; } 
.pokesprite-633{ background-position: -66px -759px; width: 32px; height: 32px; } 
.pokesprite-634{ background-position: -66px -792px; width: 32px; height: 32px; } 
.pokesprite-635{ background-position: -66px -825px; width: 32px; height: 32px; } 
.pokesprite-636{ background-position: -66px -858px; width: 32px; height: 32px; } 
.pokesprite-637{ background-position: -66px -891px; width: 32px; height: 32px; } 
.pokesprite-638{ background-position: -66px -924px; width: 32px; height: 32px; } 
.pokesprite-639{ background-position: -66px -957px; width: 32px; height: 32px; } 
.pokesprite-64{ background-position: -66px -990px; width: 32px; height: 32px; } 
.pokesprite-640{ background-position: -66px -1023px; width: 32px; height: 32px; } 
.pokesprite-641{ background-position: -66px -1056px; width: 32px; height: 32px; } 
.pokesprite-642{ background-position: -66px -1089px; width: 32px; height: 32px; } 
.pokesprite-643{ background-position: -66px -1122px; width: 32px; height: 32px; } 
.pokesprite-644{ background-position: -66px -1155px; width: 32px; height: 32px; } 
.pokesprite-645{ background-position: -66px -1188px; width: 32px; height: 32px; } 
.pokesprite-646{ background-position: -66px -1221px; width: 32px; height: 32px; } 
.pokesprite-647{ background-position: -66px -1254px; width: 32px; height: 32px; } 
.pokesprite-648{ background-position: -66px -1287px; width: 32px; height: 32px; } 
.pokesprite-649{ background-position: -66px -1320px; width: 32px; height: 32px; } 
.pokesprite-65{ background-position: -66px -1353px; width: 32px; height: 32px; } 
.pokesprite-650{ background-position: -66px -1386px; width: 32px; height: 32px; } 
.pokesprite-651{ background-position: -66px -1419px; width: 32px; height: 32px; } 
.pokesprite-652{ background-position: -66px -1452px; width: 32px; height: 32px; } 
.pokesprite-653{ background-position: -66px -1485px; width: 32px; height: 32px; } 
.pokesprite-654{ background-position: -66px -1518px; width: 32px; height: 32px; } 
.pokesprite-655{ background-position: -66px -1551px; width: 32px; height: 32px; } 
.pokesprite-656{ background-position: -66px -1584px; width: 32px; height: 32px; } 
.pokesprite-657{ background-position: -66px -1617px; width: 32px; height: 32px; } 
.pokesprite-658{ background-position: -66px -1650px; width: 32px; height: 32px; } 
.pokesprite-659{ background-position: -66px -1683px; width: 32px; height: 32px; } 
.pokesprite-66{ background-position: -66px -1716px; width: 32px; height: 32px; } 
.pokesprite-660{ background-position: -66px -1749px; width: 32px; height: 32px; } 
.pokesprite-661{ background-position: -66px -1782px; width: 32px; height: 32px; } 
.pokesprite-662{ background-position: -66px -1815px; width: 32px; height: 32px; } 
.pokesprite-663{ background-position: -66px -1848px; width: 32px; height: 32px; } 
.pokesprite-664{ background-position: -66px -1881px; width: 32px; height: 32px; } 
.pokesprite-665{ background-position: -66px -1914px; width: 32px; height: 32px; } 
.pokesprite-666{ background-position: -66px -1947px; width: 32px; height: 32px; } 
.pokesprite-667{ background-position: -66px -1980px; width: 32px; height: 32px; } 
.pokesprite-668{ background-position: -99px 0; width: 32px; height: 32px; } 
.pokesprite-669{ background-position: -99px -33px; width: 32px; height: 32px; } 
.pokesprite-67{ background-position: -99px -66px; width: 32px; height: 32px; } 
.pokesprite-670{ background-position: -99px -99px; width: 32px; height: 32px; } 
.pokesprite-671{ background-position: -99px -132px; width: 32px; height: 32px; } 
.pokesprite-672{ background-position: -99px -165px; width: 32px; height: 32px; } 
.pokesprite-673{ background-position: -99px -198px; width: 32px; height: 32px; } 
.pokesprite-674{ background-position: -99px -231px; width: 32px; height: 32px; } 
.pokesprite-675{ background-position: -99px -264px; width: 32px; height: 32px; } 
.pokesprite-676{ background-position: -99px -297px; width: 32px; height: 32px; } 
.pokesprite-677{ background-position: -99px -330px; width: 32px; height: 32px; } 
.pokesprite-678{ background-position: -99px -363px; width: 32px; height: 32px; } 
.pokesprite-679{ background-position: -99px -396px; width: 32px; height: 32px; } 
.pokesprite-68{ background-position: -99px -429px; width: 32px; height: 32px; } 
.pokesprite-680{ background-position: -99px -462px; width: 32px; height: 32px; } 
.pokesprite-681{ background-position: -99px -495px; width: 35px; height: 35px; } 
.pokesprite-682{ background-position: -99px -531px; width: 32px; height: 32px; } 
.pokesprite-683{ background-position: -99px -564px; width: 32px; height: 32px; } 
.pokesprite-684{ background-position: -99px -597px; width: 32px; height: 32px; } 
.pokesprite-685{ background-position: -99px -630px; width: 32px; height: 32px; } 
.pokesprite-686{ background-position: -99px -663px; width: 32px; height: 32px; } 
.pokesprite-687{ background-position: -99px -696px; width: 32px; height: 32px; } 
.pokesprite-688{ background-position: -99px -729px; width: 32px; height: 32px; } 
.pokesprite-689{ background-position: -99px -762px; width: 32px; height: 32px; } 
.pokesprite-69{ background-position: -99px -795px; width: 32px; height: 32px; } 
.pokesprite-690{ background-position: -99px -828px; width: 32px; height: 32px; } 
.pokesprite-691{ background-position: -99px -861px; width: 32px; height: 32px; } 
.pokesprite-692{ background-position: -99px -894px; width: 32px; height: 32px; } 
.pokesprite-693{ background-position: -99px -927px; width: 32px; height: 32px; } 
.pokesprite-694{ background-position: -99px -960px; width: 32px; height: 32px; } 
.pokesprite-695{ background-position: -99px -993px; width: 32px; height: 32px; } 
.pokesprite-696{ background-position: -99px -1026px; width: 32px; height: 32px; } 
.pokesprite-697{ background-position: -99px -1059px; width: 32px; height: 32px; } 
.pokesprite-698{ background-position: -99px -1092px; width: 32px; height: 32px; } 
.pokesprite-699{ background-position: -99px -1125px; width: 32px; height: 32px; } 
.pokesprite-7{ background-position: -99px -1158px; width: 32px; height: 32px; } 
.pokesprite-70{ background-position: -99px -1191px; width: 32px; height: 32px; } 
.pokesprite-700{ background-position: -99px -1224px; width: 32px; height: 32px; } 
.pokesprite-701{ background-position: -99px -1257px; width: 32px; height: 32px; } 
.pokesprite-702{ background-position: -99px -1290px; width: 32px; height: 32px; } 
.pokesprite-703{ background-position: -99px -1323px; width: 32px; height: 32px; } 
.pokesprite-704{ background-position: -99px -1356px; width: 32px; height: 32px; } 
.pokesprite-705{ background-position: -99px -1389px; width: 32px; height: 32px; } 
.pokesprite-706{ background-position: -99px -1422px; width: 32px; height: 32px; } 
.pokesprite-707{ background-position: -99px -1455px; width: 32px; height: 32px; } 
.pokesprite-708{ background-position: -99px -1488px; width: 32px; height: 32px; } 
.pokesprite-709{ background-position: -99px -1521px; width: 32px; height: 32px; } 
.pokesprite-71{ background-position: -99px -1554px; width: 32px; height: 32px; } 
.pokesprite-710{ background-position: -99px -1587px; width: 32px; height: 32px; } 
.pokesprite-711{ background-position: -99px -1620px; width: 32px; height: 32px; } 
.pokesprite-712{ background-position: -99px -1653px; width: 32px; height: 32px; } 
.pokesprite-713{ background-position: -99px -1686px; width: 32px; height: 32px; } 
.pokesprite-714{ background-position: -99px -1719px; width: 32px; height: 32px; } 
.pokesprite-715{ background-position: -99px -1752px; width: 32px; height: 32px; } 
.pokesprite-716{ background-position: -99px -1785px; width: 32px; height: 32px; } 
.pokesprite-717{ background-position: -99px -1818px; width: 32px; height: 32px; } 
.pokesprite-718{ background-position: -99px -1851px; width: 32px; height: 32px; } 
.pokesprite-719{ background-position: -99px -1884px; width: 32px; height: 32px; } 
.pokesprite-72{ background-position: -99px -1917px; width: 32px; height: 32px; } 
.pokesprite-73{ background-position: -99px -1950px; width: 32px; height: 32px; } 
.pokesprite-74{ background-position: -99px -1983px; width: 32px; height: 32px; } 
.pokesprite-75{ background-position: -135px 0; width: 32px; height: 32px; } 
.pokesprite-76{ background-position: -135px -33px; width: 32px; height: 32px; } 
.pokesprite-77{ background-position: -135px -66px; width: 32px; height: 32px; } 
.pokesprite-78{ background-position: -135px -99px; width: 32px; height: 32px; } 
.pokesprite-79{ background-position: -135px -132px; width: 32px; height: 32px; } 
.pokesprite-8{ background-position: -135px -165px; width: 32px; height: 32px; } 
.pokesprite-80{ background-position: -135px -198px; width: 32px; height: 32px; } 
.pokesprite-81{ background-position: -135px -231px; width: 32px; height: 32px; } 
.pokesprite-82{ background-position: -135px -264px; width: 32px; height: 32px; } 
.pokesprite-83{ background-position: -135px -297px; width: 32px; height: 32px; } 
.pokesprite-84{ background-position: -135px -330px; width: 32px; height: 32px; } 
.pokesprite-85{ background-position: -135px -363px; width: 32px; height: 32px; } 
.pokesprite-86{ background-position: -135px -396px; width: 32px; height: 32px; } 
.pokesprite-87{ background-position: -135px -429px; width: 32px; height: 32px; } 
.pokesprite-88{ background-position: -135px -462px; width: 32px; height: 32px; } 
.pokesprite-89{ background-position: -135px -495px; width: 32px; height: 32px; } 
.pokesprite-9{ background-position: -135px -528px; width: 32px; height: 32px; } 
.pokesprite-90{ background-position: -135px -561px; width: 32px; height: 32px; } 
.pokesprite-91{ background-position: -135px -594px; width: 32px; height: 32px; } 
.pokesprite-92{ background-position: -135px -627px; width: 32px; height: 32px; } 
.pokesprite-93{ background-position: -135px -660px; width: 32px; height: 32px; } 
.pokesprite-94{ background-position: -135px -693px; width: 32px; height: 32px; } 
.pokesprite-95{ background-position: -135px -726px; width: 32px; height: 32px; } 
.pokesprite-96{ background-position: -135px -759px; width: 32px; height: 32px; } 
.pokesprite-97{ background-position: -135px -792px; width: 32px; height: 32px; } 
.pokesprite-98{ background-position: -135px -825px; width: 32px; height: 32px; } 
.pokesprite-99{ background-position: -135px -858px; width: 32px; height: 32px; } 
